body {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'cursive', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.minimalist {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topOfList {
  position: relative;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 15px;
}

#new-task {
  padding: 15px 10px 15px 10px;
  font-style: italic;
  border: none;
  border-bottom: solid lightgrey 1px;
}

#clearbtn {
  padding: 10px 15px 10px 15px;
  border: none;
  background: #f1f2f5;
  opacity: 0.5;
}

.task-list ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#task-list {
  list-style: none;
  margin: 0 0 0 -2rem;
}

.containitem {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px;
  border: none;
  border-bottom: solid lightgrey 1px;
}

.iconsend {
  display: flex;
  gap: 15px;
}
